<header class="main-header">
  <span class="main-header__item">
    <a class="<%= pagePath == '/' ? 'active' : '' %>" href="/">VeCommerce</a>
  </span>
  <span onclick="navOpen()" class="menu-bar btn">menu</span>
  <nav id="nav-bar" class="main-header__nav">
    <span onclick="navClose()" class="close-nav-btn">X</span>
    <ul class="main-header__item-list">
      <% if (isLoggedIn) { %>
        <li class="main-header__item">
          <a class="<%= pagePath == '/profile' ? 'active' : '' %>" href="/profile">
            <%= username %>
          </a>
        </li>
        <li class="main-header__item">
          <a 
            class="<%= pagePath == '/product/add' ? 'active' : '' %>" 
            href="/product/add"
          >Add Product</a>
        </li>
        <li class="main-header__item">
          <a 
            class="<%= pagePath == '/cart' ? 'active' : '' %>" 
            href="/cart"
          >Cart</a>
        </li>
        <li class="main-header__item">
          <a 
            class="<%= pagePath == '/order' ? 'active' : '' %>" 
            href="/order"
          >Orders</a>
        </li>
        <li class="main-header__item">
          <form action="/auth/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
            <button type="submit" class="btn">
              Logout
            </button>
          </form>
        </li>
      <% } else { %>
        <li class="main-header__item">
          <a 
            class="<%= pagePath == '/auth/register' ? 'active' : '' %>" 
            href="/auth/register"
          >Register</a>
        </li>
        <li class="main-header__item">
          <a 
            class="<%= pagePath == '/auth/login' ? 'active' : '' %>" 
            href="/auth/login"
          >Login</a>
        </li>
      <% } %>
    </ul>
  </nav>
</header>
<%- include('./scripts/nav.ejs') %>