<%- include('./includes/head.ejs') %> 
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('./includes/navigation.ejs') %> 
  <%- include('./util/errors-message.ejs', {errors}) %> 
  <main>
    <form class="product-form" action="/product" method="POST" enctype="multipart/form-data">
      <div class="form-control">
        <label for="title">Title</label>
        <input 
          type="text" 
          name="title" 
          id="title"
          value="<%= body.length ? body[0].title : '' %>"  
        >
        
        <label for="title">Price</label>
        <input 
          type="number" 
          name="price" 
          id="price"
          value="<%= body.length ? body[0].price : '' %>"  
        >

        <label for="title">Description</label>
        <textarea 
          name="description" 
          id="description" 
          cols="38" 
          rows="10"
        ><%= body.length ? body[0].description : '' %>
        </textarea>
        
        <label style="margin: 10px 0px;" for="image">
          <div type="button" class="btn">Upload a product panel</div>
          <input 
            style="display: none;"
            type="file" 
            name="image" 
            id="image"
          >
        </label>
      </div>
      
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button class="btn" type="submit">
        Add Product
      </button>
    </form>
  </main>
<%- include('./includes/end.ejs') %> 