<%- include('./includes/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('./includes/navigation.ejs') %> 
  <%- include('./util/errors-message.ejs', {errors}) %> 
  <h1 style="padding-left: 10px;">My orders: </h1>
  <main style="padding: 5px 15px 40px 15px;">
    <% if (productOrdered.length > 0) { %>
      <% productOrdered.forEach(item => { %>
        <h3>Order number: <%= item.id%></h3>
        <p>Orderd at: <%= new Date(item.createdAt).toISOString().substring(0, 10)%></p>
        <div class="grid">
          <% item.products.forEach(product => { %>
            <article class="card product-item">
              <header class="card__header">
                <p class="product__title">
                  <%= product.title %>
                </p>
              </header>
              <div class="card__content">
                <p class="product__price">
                  <span>Price:</span> <%= product.price %>$
                </p>
                <p class="product__title">
                  <span>Quantity:</span> <%= product.orderItem.quantity %>
                </p>
                <p class="product__title">
                  <span>Owner name:</span>
                  <a href="/profile/<%= product.user.id %>">
                    <%= product.user.name %>
                  </a>
                </p>
                <p class="product__description">
                  <span>Description:</span> <%= product.description %>..
                </p>
              </div>
              <div class="card__actions">
                <a href="/product/<%= product.id %>" class="btn">
                  Details
                </a>
              </div>
            </article>
          <% }) %>
        </div>
        <a href="/order/<%= item.id %>/invoice" class="btn">Get my invoice</a>
        <hr style="margin-top: 20px;">
      <% }) %>
    <% } else { %>
      <p>No products ordered yet..</p>
    <% } %>
  </main>
<%- include('./includes/end.ejs') %> 