<%- include('./includes/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%- include('./includes/navigation.ejs') %> 
  <%- include('./util/errors-message.ejs', {errors}) %> 
  <main class="">
    <h1><%= profile.name %></h1>
    <p>Email: <%= profile.email %></p>
    <hr>
    <div>
      <h4>Products: </h4>
      <div class="grid">
        <% if (products.length > 0) { %>
          <% for(let item of products) { %>
            <article class="card product-item">
              <header class="card__header">
                <% if (userId == item.userId) { %>
                  <form 
                    class="delete-from" 
                    action="/product/<%= `?id=${item.id}&_method=DELETE` %>" 
                    method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn delete">Delete</button>
                  </form>
                <% } %>
                <p class="product__title">
                  <%= item.title %>
                </p>
              </header>
              <div class="card__image">
                <img 
                  width="200"
                  height="200"
                  src="/<%= item.imagePath %>" 
                  alt="<%= item.title %>"
                >
              </div>
              <div class="card__content">
                <p class="product__price">
                  <span>Price:</span> <%= item.price %>$
                </p>
                <p class="product__description">
                  <span>Description:</span> <%= item.description %>..
                </p>
              </div>
              <div class="card__actions">
                <% if(isLoggedIn) { %>
                  <% if(userId != item.userId) { %>
                    <form method="POST"
                      action="/cart/<%= item.id %>">
                      <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                      <button type="submit" class="btn">
                        Add to Cart
                      </button>
                    </form>
                  <% } else { %>
                    <a class="btn" href="/product/add?mode=option&id=<%= item.id%>">
                      Update product details
                    </a>
                  <% } %>
                <% } %>
                <a href="/product/<%= item.id %>" class="btn">
                  Details
                </a>
              </div>
            </article>
          <% } %>
        <% } else { %>
          <p>No products..</p>
        <% } %>
      </div>
    </div>
    <hr>
    <a href="/" class="home_button">
      Back to home..
    </a>
  </main>
<%- include('./includes/end.ejs') %> 