<%- include('./includes/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/product.css">
  </head>

  <body>
    <%- include('./includes/navigation.ejs') %>
    <%- include('./util/errors-message.ejs', {errors}) %>

    <main>
      <form class="product-form" action="/auth/reset-confirmation" method="POST">
        <div class="form-control">
          <label for="password">Password</label>
          <input required type="password" name="password" id="password">

          <label for="passwordConfirmation">Password Confirmation</label>
          <input required type="password" name="passwordConfirmation" id="passwordConfirmation">
        </div>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="token" value="<%= token %>">
        <button class="btn" type="submit">Update password</button>
      </form>
    </main>
<%- include('./includes/end.ejs') %>